@charset "utf-8";
body{
  margin-bottom: 50px;
}
.note-title-2{
  font-size: 1.6rem;
  margin-top: 3rem;
}
.note-title-3{
  color: #888;
  line-height: 3rem;
  font-size: 1.3rem;
  margin-top: 1.0rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid #888;
}
.note-content-area{
  line-height: 2rem;
  font-size: 1.0rem;
  word-wrap: break-word;
  padding-left: 1.4rem;
}
